<template>
    <div class="am-card">
        <img :src="image" :alt="'poster movie' + title" />
        <h3>{{ title }}</h3>
    </div>
</template>
<script>
export default {
    props: {
        image: String,
        title: String,
    }
}
</script>