.am-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px 16px;
  text-align: center;
  img {
    border-radius: 8px;
    width: 300px;
    height: 357px;
    transition: 0.3s ease-in-out;
    &:hover {
      transition: 0.3s ease-in-out;
      transform: scale(1.01);
    }
  }
}
