.am-cast {
  display: flex;
  justify-content: space-between;
  &_card {
    max-width: 140px;
    min-height: 255px;
    padding-bottom: 8px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    text-align: center;
    img {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      width: 180px;
      height: 180px;
    }
    p {
      margin-bottom: 0px;
    }
    &-name {
      font-size: 16px;
      line-height: 18px;
      font-weight: 500;
    }
    &-character {
      line-height: 16px;
    }
  }
}
