<template>
  <a-layout class="am-layout">
    <Header />
    <a-layout-content>
      <div class="am-layout_content">
        <Nuxt keep-alive />
      </div>
    </a-layout-content>
    <Footer />
  </a-layout>
</template>