<template>
  <div class="am-movie_detail">
  
    <img :src="'https://image.tmdb.org/t/p/original' + movieDetails.backdrop_path" class="am-movie_detail-background" layout="fill" :alt="'backdrop_path' + movieDetails.backdrop_path" />
    <div class="am-movie_detail-content">
      <a-row type="flex" style="flex-flow: nowrap" :gutter="16">
        <a-col flex="280px">
          <img :src="'https://image.tmdb.org/t/p/original' + movieDetails.poster_path" :alt="'poster' + movieDetails.title" class="am-movie_detail-image"/>
        </a-col>
        <a-col flex="auto">
          <div class="am-movie_detail-back" @click="goBack()">
            Back to Homepage
          </div>
          <div class="am-movie_detail-genres">
            <span v-for="(dl , index) in movieDetails.genres" :key="index">{{ dl.name }}</span>
          </div> 
          <h1 class="am-movie_detail-title">{{movieDetails.title}}</h1>
          <div class="am-movie_detail-date">{{ formatDate(movieDetails.release_date) }}</div>
          <span class="am-movie_detail-description">
            <div>Overview</div>
            {{ movieDetails.overview }}
          </span>
        </a-col>
      </a-row>
      <a-row :gutter="35">
        <a-col :span="10" style="padding-left: 0;" v-for="(mv, index) in movieVideos.results.slice(0, 1)" :key="index" class="am-movie_detail-video">
          <iframe
                  width="100%"
                  :src="'https://www.youtube.com/embed/' + mv.key + '?autoplay=2&origin=http://example.com'"
                  :title="'Youtube video player' +  mv.key"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowFullScreen
                  style="min-height: 260px"
                ></iframe>
        </a-col>
        <a-col :span="14" class="am-cast">
            <div class="am-cast" v-for="(mc, index) in movieCredits.cast.slice(0, 5)" :key="index">
              <div class="am-cast_card">
                <img :src="'https://image.tmdb.org/t/p/original' + mc.profile_path" :alt="mc.character" />
                <p class="am-cast_card-name">{{ mc.original_name }}</p>
                <p className="am-cast_card-character">{{ mc.character }}</p>
              </div>
            </div>
        </a-col>
      </a-row>
    </div>
  </div>
</template>
<script>
export default {
  async asyncData({ params, redirect }) {
    const movieDetails = await fetch(`https://api.themoviedb.org/3/movie/${params.id}?api_key=d8e5156bc28607797ecad929010fa45f&language=en-US`).then(
      (res) => res.json()
    );
    const movieCredits = await fetch(`https://api.themoviedb.org/3/movie/${params.id}/credits?api_key=d8e5156bc28607797ecad929010fa45f&language=en-US`).then(
      (res) => res.json()
    );
    const movieVideos = await fetch(`https://api.themoviedb.org/3/movie/${params.id}/videos?api_key=d8e5156bc28607797ecad929010fa45f&language=en-US`).then(
      (res) => res.json()
    )
    
    return { movieDetails, movieCredits, movieVideos };
  },
  methods: {
    goBack() {
      this.$router.go(-1);
    },
    formatDate(date) {
      return new Date(date)?.toDateString();
    }
  },
};
</script>
