<template>
  <a-row type="flex" class="am-movie" :gutter="16">
    <a-col class="gutter-row" :span="4" v-for="(mv, index) in movies.results" :key="index">
    <nuxtLink :to="`${mv.id}`">
      <Item-Mountain :image="'https://image.tmdb.org/t/p/original' + mv.poster_path" :title="mv.original_title || mv.original_name" />
    </nuxtLink>
    </a-col>
  </a-row>
</template>
<script>
export default {
  mounted() {
    this.$nextTick(() => {
      this.$nuxt.$loading.start();
      setTimeout(() => this.$nuxt.$loading.finish(), 2000);
    });
  },
  async asyncData() {
    const movies = await fetch("https://api.themoviedb.org/3/trending/movie/week?api_key=d8e5156bc28607797ecad929010fa45f").then(
      (res) => res.json()
    );
    return { movies };
  }
};
</script>
